# Entorno virtual
venv/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno o configuración local
.env
*.env

# Archivos de bases de datos SQLite (opcional)
*.sqlite3

# Archivos de logs
*.log

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de migraciones innecesarios (opcional)
**/migrations/*.pyc
**/migrations/__pycache__/

# Configuración de editores
.vscode/
.idea/

# Archivos de pruebas o desarrollo
*.bak
*.swp
